@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: whitesmoke;
}

div {
    height: 40px;
}

main {
    background-color: white;
    padding: 77px 55px 33px;
    width: 280px;
    height: 540px;
    margin: auto;
}

main > h1{
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

input {
    outline: none;
    border: none;
}

.gmail{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px;
}

.lin-put {
    border-bottom: gray;
}